@font-face {
    font-family: 'BookmanOldStyleBold';
    src: url('../fonts/BookmanOldStyleBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
.site-branding__name {
    font-family: 'BookmanOldStyleBold';
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
}
.site-branding__subname {
    padding-top: 5px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
}