/* general elements  ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */	
* {
	margin:0;
	padding:0;
}

body {
	font: .8em "arial", sans-serif;
}

.layout-container {
	background: url('../images/bg.jpg') repeat-x 0 0 #fff;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

img {
	border:0px;
	}

.white,
.white a:link,
.white a:visited{
	color: #fff;
	text-decoration: none;
}

.blue,
.blue a:link,
.blue a:visited{
	color: #13121E;
	text-decoration: none;
}

.red,
.red a:link,
.red a:visited{
	color: #CA1D23;
	text-decoration: none;
}

.bronze,
.bronze a:link,
.bronze a:visited{
	color: #EDD081;
	text-decoration: none;
}

/* text elements  ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */	

.text_a { 
	font: 15px "arial", sans-serif;
	font-weight: bold;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	}
.text_a a:link,
.text_a a:visited { 
	text-decoration: underline;
	}
.text_a a:hover,
.text_a a:active {
	text-decoration: none;
	}
	
.text_b { 
	font: 25px "arial", sans-serif;
	font-style: italic;
	font-weight: bold;
	}
.text_b a:link,
.text_b a:visited { 
	text-decoration: underline;
	font-weight: bold;
	}
.text_b a:hover,
.text_b a:active {
	text-decoration: none;
	font-weight: bold;
	}

.text_c { 
	font: 18px "arial", sans-serif;
	font-weight: bold;
	}
.text_c a:link,
.text_c a:visited { 
	text-decoration: underline;
	}
.text_c a:hover,
.text_c a:active {
	text-decoration: none;
	}

.text_d { 
	font: 12px "arial", sans-serif;
	line-height: 19px;
	}
.text_d p { 
	margin: 0px 0px 10px 0px;
	}
.text_d a:link,
.text_d a:visited { 
	text-decoration: underline;
	}
.text_d a:hover,
.text_d a:active {
	text-decoration: none;
	}	
	
.text_e { 
	font: 13px "arial", sans-serif;
	line-height: 17px;
	}
.text_e li { 
	list-style-type: none;
	margin: 0px 0px 10px 0px;
	}
.text_e p { 
	margin: 0px 0px 10px 0px;
	}
.text_e a:link,
.text_e a:visited { 
	text-decoration: none;
	}
.text_e a:hover,
.text_e a:active {
	text-decoration: underline;
	}	
	
/* layout elements  ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */	

#wrapperBG{
	width: auto;
	margin:0px auto 0;
	background: url('../images/bg_flag.jpg') no-repeat 0 0;
	/*  min-height: 100%;  */
}

#wrapperMAIN{
	width: auto;
	margin:0px 0px 0px 0px;
	padding:0px;
}

#header{
	float:none;
	width: auto;
	height:230px;
	margin:0px;
	padding:0px;
}

#nav{
	float:none;
	width: auto;
	height:45px;
	margin:0px 0px 0px 0px;
	padding:0px;
	background: #fff; /* old browsers */
}

#logoMark{
	display: none;
	float:none;
	width: auto;
	margin:0px;
	padding:0px;
	/*background: url('../images/logo_mark.png') no-repeat 0 0;*/
}

#logoType{
	float:none;
	width: auto;
	height:120px;
	margin:0px;
	padding:40px 0px 0px;
	/*background: url('../images/logo_type.png') no-repeat center 10px;*/
}

#logoLib{
	display: none;
	float:none;
	width: auto;
	height:130px;
	margin:0px;
	padding:0px;
	background: url('../images/logo_seal_Liberia.png') no-repeat 0 0;
}

#searchBox{
	float:none;
	width: auto;
	height:80px;
	text-align: center;
	margin: 0px 0px 0px 0px;
	padding:0px;
}

.search-words { 
	width: 50%;
	height: 23px;
	padding: 5px;
	margin:0px;
	background: #fff;
	border: 1px solid #14283A;
}

.search-submit { 
	width: 20%;
	height: 33px;
	padding: 0px;
	margin:0px 0px 0px 10px;
	color: #ffffff;
	text-align: center;
	font-weight: bold;
	background: #CA1D23;
	border: 1px solid #CA1D23;
}

.search-submit:hover,
.search-submit:active { 
	color: #CA1D23;
	text-align: center;
	background: #ffffff;
}

#features{
	display: none;
	float:none;
	width: auto;
	margin:0px 0px 0px 0px;
	padding: 0px;
	box-shadow: 0px 0px 15px #2D2D2D;
	background: #13121E;
	/*background: url('../images/feature01.jpg') no-repeat center bottom #13121E;*/
}

#news{
	float:none;
	width: auto;
	margin:0px 0px 0px 0px;
	padding:30px 30px 0px 30px;
	background: #13121E; /* old browsers */
}

.mid01{
	float:none;
	width: auto;
	height:140px;
	margin:10px 0px 0px 0px;
	padding: 0px;
	font: 15px "arial", sans-serif;
	font-weight: bold;
	text-align: center;
	color: white;
	background: #CA1D23; /* old browsers */
}

.mid01:hover,
.mid01:active {
	cursor:pointer;
	box-shadow: 0px 0px 25px #2D2D2D;
	color: #13121E;
}

.mid02{
	float:none;
	width: auto;
	height:140px;
	margin:10px 0px 0px 0px;
	padding: 0px;
	font: 15px "arial", sans-serif;
	font-weight: bold;
	text-align: center;
	color: white;
	background: #CA1D23; /* old browsers */
}

.mid02:hover,
.mid02:active {
	cursor:pointer;
	box-shadow: 0px 0px 25px #2D2D2D;
	color: #13121E;
}

.mid03{
	float:none;
	width: auto;
	height:198px;
	margin:10px 0px 0px 0px;
	padding: 0px;
	font: 20px "arial italic", sans-serif;
	font-weight: bold;
	text-align: center;
	color: BECFCA;
	background: #25392D; /* old browsers */
	border: 1px solid #25392D;
}

.mid03:hover,
.mid03:active {
	cursor:pointer;
	box-shadow: 0px 0px 25px #2D2D2D;
	color: #fff;
}

.mid04{
	float:none;
	width: auto;
	height:198px;
	margin:10px 0px 0px 0px;
	padding: 0px;
	background: #25392D; /* old browsers */
	border: 1px solid #25392D;
}

.mid04:hover,
.mid04:active {
	cursor:pointer;
	box-shadow: 0px 0px 25px #2D2D2D;
	color: #fff;
}

#midFeature01{
	background: url('../images/sub_feature_01.jpg') no-repeat center 0 #13121E;
}
#midFeature02{
	background: url('../images/sub_feature_02.jpg') no-repeat center 0 #13121E;
}
#midFeature03{
	background: url('../images/sub_feature_03.jpg') no-repeat center 0 #13121E;
}

.midTitle{
	float:left;
	margin:158px 0px 0px 0px;
	padding: 10px 10px 10px 10px;
	font: 18px "arial", sans-serif;
	font-style: italic;
	font-weight: bold;
	color: #BECFCA;
	background: #13121E; /* old browsers */
}

.mid05{
	float:none;
	width: auto;
	height:30px;
	margin:0px 0px 0px 0px;
	padding: 15px 20px 5px 20px;
	font: 16px "arial", sans-serif;
	font-style: italic;
	font-weight: bold;
	color: #13121E;
	background: #BECFCA; /* old browsers */
	border-bottom: 1px solid #475752;
}

.mid05:hover,
.mid05:active {
	cursor:pointer;
	box-shadow: 0px 0px 5px #2D2D2D;
	color: #BECFCA;
	background: #13121E;
}

.mid06{
	float:none;
	width: auto;
	height:30px;
	margin:0px 0px 0px 0px;
	padding: 15px 20px 5px 20px;
	font: 16px "arial", sans-serif;
	font-style: italic;
	font-weight: bold;
	color: #13121E;
	background: #BECFCA; /* old browsers */
	border-bottom: 1px solid #475752;
}

.mid06:hover,
.mid06:active {
	cursor:pointer;
	box-shadow: 0px 0px 5px #2D2D2D;
	color: #BECFCA;
	background: #13121E;
}

#sub01 {
	float:none;
	width: auto;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

.sub02 {
	float:none;
	width: auto;
	height:70px;
	margin:0px;
	padding: 0px;
	font: 15px "arial", sans-serif;
	font-weight: bold;
	color: #CA1D23;
}

.sub02:hover,
.sub02:active {
	cursor:pointer;
	color: #13121E;
}

.sub02 img{
	float:left;
	height: 70px;
	margin:0px;
	padding:0px;
}

#contentWrapper{
	float:none;
	width: auto;
	padding:0px;
	margin:0px 0px 0px 0px;
}

#content{
	float:none;
	width: auto;
	margin:0px 0px 0px 0px;
	padding:0px;
	box-shadow: 0px 0px 8px #2D2D2D;
	background: url('../images/content_bg.jpg') no-repeat right bottom #fff;
}

#content01{
	float:none;
	width: auto;
	margin:0px;
	padding:30px 10px 30px 30px;
	background: #CA1D23; /* old browsers */
	color: #fff;
}

#content01 a:link,
#content01 a:visited,
#content01 a:hover,
#content01 a:active  {
	color: #fff;
}

#content02{
	float:none;
	width: auto;
	margin: 0px;
	padding: 25px 30px 30px 30px;
}

.text_d p img{
	float:right;
	width:300px;
	margin:0px 0px 20px 20px;
	padding:0px;
}

.text_d li{
	margin:0px 20px 0px 40px;
}

#footer {
	float:none;
	width: auto;
	clear:both;
	height:120px;
	margin:20px 0px 0px 0px;
	color: #25392D;
}

#footer a:link,
#footer a:visited {
	color: #25392D;
}

#footer a:hover,
#footer a:active {
	color: #25392D;
	text-decoration: underline;
}

#footer01{
	float:none;
	width: auto;
	height:100px;
	margin:0px;
	padding:0px 20px 0px 20px;
	text-align: center;
	line-height: 30px;
	text-transform: uppercase;
	/* display: none; */
}
#footer02{
	float:none;
	width: auto;
	height:30px;
	margin:0px;
	padding: 20px;
	background: #D9E3E0; /* old browsers */
}
#footer03{
	float:none;
	width: auto;
	margin:0px;
	padding:0px;
}

/* CONTACT FORM ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */	
#p01-contact1_field0{
	width: 100%;
	padding: 5px;
	margin-bottom: 10px;
}
#p01-contact1_field1{
	width: 100%;
	padding: 5px;
	margin-bottom: 10px;
}
#p01-contact1_field2{
	width: 100%;
	padding: 5px;
	margin-bottom: 10px;
}
#p01-contact1_field3{
	width: 100%;
	padding: 5px;
	margin-bottom: 10px;
}
#p01-contact1_field4{
	width: 100%;
	padding: 5px;
	margin-bottom: 10px;
}
#p01-contact1_field5{
	width: 100%;
	padding: 5px;
	margin-bottom: 10px;
}
.submit,
.submit a:link,
.submit a:visited{
	display: inline-block;
	text-align:center;
	font-size:13px;
	font-weight:bold;
	margin: 15px 0px 15px 0px;
	padding:8px 15px 8px 15px; 
	text-decoration: none;
	background: #CA1D23; /* old browsers */
	color: #603C1B;
}

.submit:hover,
.submit:active {
	cursor:pointer;
	box-shadow: 0px 1px 1px #2D2D2D;
	background: #603C1B; /* old browsers */
	color: #CA1D23;
}

/* MENU ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */	
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-transform: uppercase;
  z-index: 1000;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  font-family: Montserrat, sans-serif;
  background: #fff;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu > ul > li > a {
  margin: 10px 15px 10px 15px;
  padding: 0px 0px 0px 0px;
  font-size: 14px;
  letter-spacing: 0px;
  text-decoration: none;
  color: #603C1B;
  font-weight: 700;
}
#cssmenu > ul > li:hover > a {
  color: #CA1D23;
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 0px;
}
#cssmenu > ul > li.has-sub > a:after {
  position: absolute;
  top: 5px;
  right: -15px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: '';
}
#cssmenu > ul > li.has-sub > a:before {
  position: absolute;
  top: 2px;
  right: -12px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu > ul > li.has-sub:hover > a:before {
  top: 6px;
  height: 0;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu ul ul li {
  height: 0;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu li:hover > ul {
  left: auto;
}
#cssmenu.align-right li:hover > ul {
  left: auto;
  right: 0;
}
#cssmenu li:hover > ul > li {
  height: 35px;
}
#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#cssmenu ul ul li a {
  border-bottom: 1px solid rgba(150, 150, 150, 0.15);
  padding: 11px 15px;
  width: 170px;
  font-size: 12px;
  text-decoration: none;
  color: #dddddd;
  font-weight: 400;
  background: #333333;
}
#cssmenu ul ul li:first-child > a,
#cssmenu ul ul li.first-item > a {
  margin-top:21px
}
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last-item > a {
  border-bottom: 0;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #E17D81;
}
#cssmenu ul ul li.has-sub > a:after {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: '';
}
#cssmenu.align-right ul ul li.has-sub > a:after {
  right: auto;
  left: 11px;
}
#cssmenu ul ul li.has-sub > a:before {
  position: absolute;
  top: 13px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu.align-right ul ul li.has-sub > a:before {
  right: auto;
  left: 14px;
}
#cssmenu ul ul > li.has-sub:hover > a:before {
  top: 17px;
  height: 0;
}
@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #cssmenu {
    width: 100%;
  }
  #cssmenu ul {
    width: 100%;
    display: none;
  }
  #cssmenu.align-center > ul {
    text-align: left;
  }
  #cssmenu ul li {
    width: 100%;
    border-top: 1px solid rgba(120, 120, 120, 0.2);
  }
  #cssmenu ul ul li,
  #cssmenu li:hover > ul > li {
    height: auto;
  }
  #cssmenu ul li a,
  #cssmenu ul ul li a {
    width: 100%;
    border-bottom: 0;
  }
  #cssmenu > ul > li {
    float: none;
  }
  #cssmenu ul ul li a {
    padding-left: 25px;
  }
  #cssmenu ul ul ul li a {
    padding-left: 35px;
  }
  #cssmenu ul ul li a {
    color: #dddddd;
    background: none;
  }
  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li.active > a {
    color: #ffffff;
  }
  #cssmenu ul ul,
  #cssmenu ul ul ul,
  #cssmenu.align-right ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left;
  }
  #cssmenu > ul > li.has-sub > a:after,
  #cssmenu > ul > li.has-sub > a:before,
  #cssmenu ul ul > li.has-sub > a:after,
  #cssmenu ul ul > li.has-sub > a:before {
    display: none;
  }
  #cssmenu #menu-button {
    display: block;
    padding: 17px;
    color: #B1BCB8;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
  }
  #cssmenu #menu-button:after {
    position: absolute;
    top: 22px;
    right: 17px;
    display: block;
    height: 4px;
    width: 20px;
    border-top: 2px solid #dddddd;
    border-bottom: 2px solid #dddddd;
    content: '';
  }
  #cssmenu #menu-button:before {
    position: absolute;
    top: 16px;
    right: 17px;
    display: block;
    height: 2px;
    width: 20px;
    background: #dddddd;
    content: '';
  }
  #cssmenu #menu-button.menu-opened:after {
    top: 23px;
    border: 0;
    height: 2px;
    width: 15px;
    background: #ffffff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #cssmenu #menu-button.menu-opened:before {
    top: 23px;
    background: #ffffff;
    width: 15px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #cssmenu .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.2);
    height: 46px;
    width: 46px;
    cursor: pointer;
  }
  #cssmenu .submenu-button.submenu-opened {
    background: #262626;
  }
  #cssmenu ul ul .submenu-button {
    height: 34px;
    width: 34px;
  }
  #cssmenu .submenu-button:after {
    position: absolute;
    top: 22px;
    right: 19px;
    width: 8px;
    height: 2px;
    display: block;
    background: #dddddd;
    content: '';
  }
  #cssmenu ul ul .submenu-button:after {
    top: 15px;
    right: 13px;
  }
  #cssmenu .submenu-button.submenu-opened:after {
    background: #ffffff;
  }
  #cssmenu .submenu-button:before {
    position: absolute;
    top: 19px;
    right: 22px;
    display: block;
    width: 2px;
    height: 8px;
    background: #dddddd;
    content: '';
  }
  #cssmenu ul ul .submenu-button:before {
    top: 12px;
    right: 16px;
  }
  #cssmenu .submenu-button.submenu-opened:before {
    display: none;
  }
}
