{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  <div id="logoType">
    {% if site_name %}
      <div class="site-branding__name">{{ site_name }}</div>
      <div class="site-branding__subname">REPUBLIC OF LIBERIA</div>
    {% endif %}
  </div>
  <div id="logoLib"></div>


  {#{% if site_logo %}#}
    {#<a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">#}
      {#<img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />#}
    {#</a>#}
  {#{% endif %}#}
  {#{% if site_name %}#}
    {#<a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>#}
  {#{% endif %}#}
  {#{{ site_slogan }}#}
{% endblock %}
