{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div class="layout-container">
  <div id="wrapperBG">
    <div id="wrapperMAIN">

      <div id="header">
        {#{% if site_logo %}#}
          <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
            <div id="logoMark">
              <img src="{{ base_path ~ directory }}/images/logo_mark.png"/>
            </div>
          </a>
        {#{% endif %}#}
        <div id="nav">
          {#{{ page.primary_menu }}#}
          <div id="cssmenu">
            <ul>
              <li><a href="#">HOME</a></li>
              <li><a href="#">ABOUT</a>
                <ul>
                  <li><a href="#">Child01</a></li>
                  <li><a href="#">Child02</a></li>
                  <li><a href="#">Child03</a></li>
                  <li><a href="#">Child04</a></li>
                </ul>
              </li>
              <li><a href="#">PARENT</a>
                <ul>
                  <li><a href="#">Child01</a></li>
                  <li><a href="#">Child02</a></li>
                  <li><a href="#">Child03</a></li>
                  <li><a href="#">Child04</a></li>
                </ul>
              </li>
              <li><a href="#">PARENT</a>
                <ul>
                  <li><a href="#">Child01</a></li>
                  <li><a href="#">Child02</a></li>
                  <li><a href="#">Child03</a></li>
                  <li><a href="#">Child04</a></li>
                </ul>
              </li>
              <li><a href="#">PARENT</a>
                <ul>
                  <li><a href="#">Child01</a></li>
                  <li><a href="#">Child02</a></li>
                  <li><a href="#">Child03</a></li>
                  <li><a href="#">Child04</a></li>
                </ul>
              </li>
              <li><a href="#">PARENT</a>
                <ul>
                  <li><a href="#">Child01</a></li>
                  <li><a href="#">Child02</a></li>
                  <li><a href="#">Child03</a></li>
                  <li><a href="#">Child04</a></li>
                </ul>
              </li>
              <li><a href="#">NEWS</a></li>
              <li><a href="#">RESOURCES</a>
                <ul>
                  <li><a href="#">Child01</a></li>
                  <li><a href="#">Child02</a></li>
                  <li><a href="#">Child03</a></li>
                  <li><a href="#">Child04</a></li>
                </ul>
              </li>
              <li><a href="#">CONTACT</a></li>
            </ul>
          </div>
        </div>
        {{ page.header }}
        <div id="search"></div>
      </div>

      {% if is_front %}
        <div id="features"></div>
        
      {% else %}
        <div id="contentWrapper">
          <div id="content">
            <div id="content01" class="text_d">
              <span  class="text_c">CURRENT PARENT</span>
              <br><br>
              <a href="">Child01</a><br>
              <a href="">Child02</a><br>
              <a href="">Child03</a><br>
              <a href="">Child04</a><br>
              <a href="">Child05</a>
            </div>
            <div id="content02" class="text_d blue">
              {#{{ page.breadcrumb }}#}
              {#{{ page.highlighted }}#}
              {#{{ page.help }}#}

              {{ page.content }}
            </div>
          </div>

          {#{{ page.secondary_menu }}#}
          <div class="mid05">
            Mid Feature 01
          </div>
          <div class="mid05">
            Mid Feature 02
          </div>
          <div class="mid06">
            Mid Feature 03
          </div>
        </div>
      {% endif %}

      <div id="news" class="text_d white">
        <span class="text_a red">RECENT NEWS</span><br><br>
        <a href="#">Lorem ipsum dolor sit amet, cmagna onsect etur adipisicing elit, sed do eiusmod</a><br><br>
        <a href="#">Ncididunt ut labore et dolore consect magna aliqua. Ut enim ad minim veniam</a><br><br>
        <a href="#">Lorem ipsummagna  dolor sit amet, consect etur adipisicing elit, sed do eiusmod</a><br><br>
        <a href="#">Cididunt ut magna labore et dolore magna aliqua. Ut consect enim ad minim veniam</a><br><br>
        <span class="text_a red"><a href="#">More News >></a></span>
      </div>

      {% if is_front %}
        {#{{ page.sidebar_first }}#}
        <div class="mid01">
          <img src="{{ base_path ~ directory }}/images/icon_01.png"/><br><br>
          ICON 01 NAME HERE
        </div>
        <div class="mid01">
          <img src="{{ base_path ~ directory }}/images/icon_02.png"/><br><br>
          ICON 02 NAME HERE
        </div>
        <div class="mid01">
          <img src="{{ base_path ~ directory }}/images/icon_03.png"/><br><br>
          ICON 03 NAME HERE
        </div>
        <div class="mid01">
          <img src="{{ base_path ~ directory }}/images/icon_04.png"/><br><br>
          ICON 04 NAME HERE
        </div>
        <div class="mid02">
          <img src="{{ base_path ~ directory }}/images/icon_05.png"/><br><br>
          ICON 05 NAME HERE
        </div>

        {#{{ page.secondary_menu }}#}
        <div class="mid03" id="midFeature01">
          <div class="midTitle">
            Mid Feature 01
          </div>
        </div>
        <div class="mid03" id="midFeature02">
          <div class="midTitle">
            Mid Feature 02
          </div>
        </div>
        <div class="mid04" id="midFeature03">
          <div class="midTitle">
            Mid Feature 03
          </div>
        </div>

      {% else %}
        {#{{ page.sidebar_first }}#}

        <div id="sub01">
          <a href="#">
            <div class="sub02">
              <img src="{{ base_path ~ directory }}/images/icon_01.png" /><br><br>
              ICON 01 NAME HERE
            </div>
          </a>
          <a href="#">
            <div class="sub02">
              <img src="{{ base_path ~ directory }}/images/icon_02.png"/><br><br>
              ICON 02 NAME HERE
            </div>
          </a>
          <a href="#">
            <div class="sub02">
              <img src="{{ base_path ~ directory }}/images/icon_03.png"/><br><br>
              ICON 03 NAME HERE
            </div>
          </a>
          <a href="#">
            <div class="sub02">
              <img src="{{ base_path ~ directory }}/images/icon_04.png"/><br><br>
              ICON 04 NAME HERE
            </div>
          </a>
          <a href="#">
            <div class="sub02">
              <img src="{{ base_path ~ directory }}/images/icon_05.png"/><br><br>
              ICON 05 NAME HERE
            </div>
          </a>
        </div>
      {% endif %}
    </div>
  </div>
  <div id="footer">
    <div id="footer01">
      <a href="">HOME</a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="">ABOUT</a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="">PARENT</a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="">PARENT</a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="">PARENT</a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="">NEWS</a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="">RESOURCES</a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="">CONTACT</a>
    </div>

    <div id="footer02">
      <div id="footer03">
        Copyright 2016. All Rights Reserved
      </div>
    </div>

    <div id="footer03">
      {{ page.footer }}
    </div>
  </div>
</div>